@charset "UTF-8";
/* 共通部分
 * *------------------------------- */
html {
  font-size: 100%;
}

body, a {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #484848;
}

p {
  margin: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: gray;
}

img {
  max-width: 100%;
  height: auto;
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* スライダー */
.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #999;
  /* news ------------------------------- */
}

.content-wrapper {
  text-align: center;
  margin: 40px 40px 0 40px;
}
.content-wrapper ul li {
  list-style-type: none;
}
.content-wrapper ul li:first-of-type {
  margin-top: 1rem;
}
.content-wrapper ul .annotation {
  font-size: 0.8rem;
}

/* profile ------------------------------- */
.profile-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 50px 0;
  width: 100%;
}
@media screen and (max-width: 1090px) {
  .profile-wrapper {
    display: block;
  }
}

.profile-wrapper-inner {
  width: 40%;
}
@media screen and (max-width: 1090px) {
  .profile-wrapper-inner {
    margin: 0 auto;
    width: 80%;
  }
}

.profile-text-inner {
  padding: 50px 0;
}
@media screen and (max-width: 1090px) {
  .profile-text-inner {
    padding: 0;
  }
}

.profile-image-inner {
  text-align: center;
}
@media screen and (max-width: 1090px) {
  .profile-image-inner {
    width: 40%;
  }
}
.profile-image-inner img {
  margin: 0 40px;
  max-width: 400px;
}
@media screen and (max-width: 1090px) {
  .profile-image-inner img {
    margin: 0;
    max-width: 100%;
  }
}

/* HOME
 * *------------------------------- */
#home {
  background-image: url(../images/hero-image.jpg);
  min-height: 100vh;
}
#home .page-title-inner {
  text-transform: none;
}

.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* NEWS
 * *------------------------------- */
#news {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}
#news .page-title-inner {
  text-align: center;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content-wrapper iframe {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 1rem;
}
.content-wrapper .content-wrapper-inner {
  max-width: 500px;
  margin: 0 auto;
}
.content-wrapper .content-wrapper-inner dl {
  text-align: start;
}
.content-wrapper .content-wrapper-inner dl dt {
  float: left;
}
.content-wrapper .content-wrapper-inner dl dd {
  margin-left: 200px;
  margin-left: 111px;
}
.main-wrapper-inner {
  display: flex;
}
@media screen and (max-width: 1090px) {
  .main-wrapper-inner {
    flex-direction: column;
  }
  .main-wrapper-inner:nth-of-type(2) {
    flex-direction: column-reverse;
  }
}
.main-wrapper-inner .top-photo, .main-wrapper-inner .top-text-box {
  width: 50%;
  width: 100%;
}
.main-wrapper-inner .top-photo img, .main-wrapper-inner .top-text-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-wrapper-inner .top-text-box {
  padding: 200px 0;
}
@media screen and (max-width: 1090px) {
  .main-wrapper-inner .top-text-box {
    padding: 0;
  }
}

.contact-wrapper {
  margin-bottom: 40px;
}
.contact-wrapper .Form {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form {
    margin-top: 40px;
  }
}
.contact-wrapper .Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-wrapper .Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.contact-wrapper .Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.contact-wrapper .Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.contact-wrapper .Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.contact-wrapper .Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.contact-wrapper .Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.contact-wrapper .Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: darkgray;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .contact-wrapper .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

/* フッター
 * *------------------------------- */
footer {
  background-color: darkgray;
  text-align: center;
  padding: 30px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  padding: 80px 0 20px 0;
}
footer nav {
  margin-bottom: 30px;
}
footer nav ul {
  display: inline-flex;
}
footer nav ul li {
  margin-right: 40px;
  list-style-type: none;
}
footer nav ul li:last-of-type {
  margin-right: 0;
}
footer small {
  font-size: 0.8rem;
}
footer .fab {
  color: #484848;
}
